// Fonts here
@font-face {
  font-family: 'FiraSans';
  src: url('./fonts/FiraSans.eot');
  src: url('./fonts/FiraSans.eot') format('embedded-opentype'),
  url('./fonts/FiraSans.woff2') format('woff2'),
  url('./fonts/FiraSans.woff') format('woff'),
  url('./fonts/FiraSans.ttf') format('truetype'),
  url('./fonts/FiraSans.svg#FiraSans') format('svg');
}

.wrapper {
    display: flex;
}

.map {
    width: 100%;
    height: 100vh;
}